.display_box_edu{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 5% 5% 3% 5%;
    background-color:aliceblue;
}
/* lineup class and keyframes */
.line {
    overflow: hidden;
    padding: 0;
}  
.lineUp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: 3s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.dip_box{
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  width:100%;
  margin-bottom: 5%;
  margin-left: 5%;
}
.dip_icon_box{
  display: flex;
  margin-right: 7.5%;
  
}
.dip_icon{
  width:50px;
  height: 50px;
}