.header-box{
    background-image: url('../../public/image/beach.jpg');
    /* bottom  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    height: 250px;
    width: 100vw;
    font-size: xx-large;
    color: darkgreen;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

.circle {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
    border-radius: 50%;
    box-shadow: 5px;
    display: flex;
    position: fixed;
    top: 350px;
    left: 3%;
    background-image: url(../../public/image/IHJAN20221183.jpg);
    background-position: center;
    background-size: cover;
  }
  .circle2{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
    border-radius: 50%;
    box-shadow: 5px;
    display: flex;
    position: absolute;
    top: 600px;
    left: 3%;
    background-image: url(../../public/image/IHJAN20221183.jpg);
    background-position: center;
    background-size: cover;
  }