.display_box_lan{
    display: flex;
    width: 60vw;
    flex-direction: column;
    padding: 5% 5% 3% 5%;
    background-color: #d0d0d0;
}
.progress_spanish {
    background: rgba(240, 69, 69, 0.877);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 300px;
  }
  
  .progress_spanish-value {
    animation: loadsp 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }
  
@keyframes loadsp {
    0% { width: 0; }
    100% { width: 100%; }
}

.progress_english {
    background: rgba(240, 69, 69, 0.877);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 300px;
}
  
.progress_english-value {
    animation: loadeng 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
@keyframes loadeng {
    0% { width: 0; }
    100% { width: 83.33%; }
}
.progress_german {
    background: rgba(240, 69, 69, 0.877);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 300px;
}
  
.progress_german-value {
    animation: loadgerm 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
@keyframes loadgerm {
    0% { width: 0; }
    100% { width: 33.33%; }
}
.progress_catalan {
    background: rgba(240, 69, 69, 0.877);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 300px;
}
  
.progress_catalan-value {
    animation: loadcat 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
@keyframes loadcat {
    0% { width: 0; }
    100% { width: 50%; }
}
.cv_title_lan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: ease-in;
}
/* @keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
} */
