*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(6, 68, 32);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: transparent;
    border-bottom: 3px;
}
.nav_back{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    border-bottom: 3px;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color:  rgb(228, 239, 231);
    transition: 0.5s ease-in;
    
}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:3rem;
}
.nav_toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color:darkgreen;
    transition: 0.4s ease-in;
}
.nav_toggler{
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 700px){
    .nav_toggler{
        display:block;
    }
    .nav_menu{
        position: fixed;
        top:10vh;
        right: 0;
        width: 50%;
        height: 90vh;
        background-color: white;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

.nav_active{
    transform: translateX(0);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, 5px);
}
.personalLogo{
    background-color: rgb(228, 239, 231);
    margin-top: 2px;
    height: 10vh;
    width: 210px;
}