.pw_box{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/image/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  align-items: center;
  transition: all 3s ease-in-out;
}
.rs_box{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/image/ram.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  align-items: center;
  transition: all 3s ease-in-out;
}
.pl_box{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/image/chuttersnap-Zs_EII3lr4o-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  transition: all 3s ease-in-out;
}
.cr_box{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/image/twilight_beach.gif);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  transition: all 3s ease-in-out;
}

.projects_box{
  display: flex;
  align-items: flex-end;
  margin-right: 4%;
  flex-direction: column;
  text-align: right;
}
.info_project{
  display: flex;
  align-items: flex-end;
  margin-left: 10%;
  color: #FDFAF6
}
.info_project2{
  display: flex;
  align-items: flex-end;
  margin-left: 10%;
  color: black;
}
.divLine{
  border-left: 2px solid #FDFAF6;
  height: 100%;
}

.buttons_list{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 2%;
  justify-content: space-evenly;
}
.button_link_project{
  background-color: transparent;
  border:2px solid #FDFAF6;
  color: #FDFAF6;
  width: 100px;
  height: 50px;
  margin-top: 3%;
  margin-left: 3%;
}
.button_link_project:hover{
  color:black;
  background-color: #FDFAF6;
}
.few_buttons_project{
  display: flex;
  margin-top: 3%;

}
.button_project{
  margin: 10% 0 10%;
  border:0cm;
  background-color: transparent;
  color: #FDFAF6;
  font-size: large;
  text-align: left;
}
.triangle-PW {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #FDFAF6;
  border-bottom: 5px solid transparent;
  margin-top: 30.5vh;
}
.triangle-RS {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #FDFAF6;
  border-bottom: 5px solid transparent;
  margin-top: 39.65vh;
}
.triangle-PL {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #FDFAF6;
  border-bottom: 5px solid transparent;
  margin-top: 47.1vh;
}
.triangle-CR {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #FDFAF6;
  border-bottom: 5px solid transparent;
  margin-top: 54.8vh;
}
.line {
  overflow: hidden;
  padding: 0;
} 
.lineUp {
  animation: 7.5s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}