.box_quote{
    width: 100vw;
    height: 300px;
    background-color: #064420;
    color: rgb(253, 250, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
}
.quote:hover{
    transition-duration: 10s;
    transition: ease-in-out;
    font-size: 37px;
    margin-left: 10%;
    margin-right: 10%;

}
.author{
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
